<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="monik">

    <application>
        <service
            android:name="monik.services.MonikService"
            android:label="monik"
            android:process=":monik"
            android:exported="false">
        </service>
    </application>

</manifest>
